BasedOnStyle: LLVM
PointerBindsToType: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach
BreakConstructorInitializersBeforeComma: true
AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: true
IndentWidth: 2
TabWidth: 2
UseTab: ForIndentation
ColumnLimit: 100
